@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
	--bg-color: #fdfdfd;
	--text-color:  rgba(0,0,0, 0.65);
}

html[data-theme-mode = 'dark'] {
	--bg-color: #222831;
	--text-color:  #EEEEEE;
}

* {
	margin: 0;
	padding: 0;
}

/* ---------- Desktop Version ------------ */

body {
	padding: 0 10%;
	margin: 0;
	background-color: var(--bg-color);
	transition: all 1s;
	font-family: Dongle;
}

/* Header */

.header h1 {
	color: var(--text-color);
	font-family: Dongle, 'sans-serif';
	font-size: 6em;
	font-weight: 400;
	line-height: 0.6em;
	height: 3.6em;
	display: flex;
	align-items: flex-end;
	margin-bottom: 60px;
}

.header .mobile-sosmed {
	display: none;
}

/* Navbar */
.navbar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	z-index: 10;
	background-color:var(--bg-color);
	transition: all 1s;
}

.navbar .navbar-item {
	height: 70px;
	display: flex;
	align-items: center;
}

.navbar .navbar-item:nth-child(2) {
	justify-content: space-between;
	width: 50%;
}

.navbar .navbar-item:nth-child(3) {
	justify-content: flex-end;
	width: 30%;
}

.navbar .navbar-brand {
	display: none;
}

.navbar .navbar-item a {
	font-family: 'Dongle', 'sans-serif';
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.8em;
	transition: opacity 0.8s, transform 0.5s;
}

.navbar .navbar-item a:hover {
	opacity: 0.5;
	transform: translateY(-8px);
}

.navbar .navbar-sosmed {
	display: flex;
	justify-content: space-between;
	width: 180px;
	padding-right: 30px;
}

.navbar .theme-toggle{
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 1.5s;
}

.navbar .theme-toggle a{
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 1.5s;
}

.navbar-toggle .menu-toggle {
	display: none;
}


/* Session Parent */
section h1 {
	font-family: Dongle, 'sans-serif';
	font-size: 4em;
	color: var(--text-color);
	padding-top: 70px;
}

section p {
	font-family: Dongle, 'sans-serif';
	font-size: 2em;
	color: var(--text-color);
}

/* About Session */
#about {
 margin-top: 200px;
 height: 100vh;
 z-index: 1;
}

/* Blog Session */
#blog {
 margin-top: 100px;
 height: 100vh;
 z-index: 1;
}

/* Contact Session */
#contact {
 margin-top: 100px;
 height: 100vh;
 z-index: 1;
}



/* ---------- Tablet Version ------------ */
@media only screen and (max-width: 768px) {

}

/* ---------- Mobile Version ------------ */
@media only screen and (max-width: 576px) {
  	
	body {
		padding: 0 20px;
	}

	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 80vh;
	}

	.header h1 {
		margin-bottom: 20px;
		text-align: center;
		font-size: 2.6rem;
	}

	.header .mobile-sosmed {
		display: flex;
		justify-content: space-between;
		width: 100px;
	}

	.header .mobile-sosmed a{
		text-decoration:  none;
		font-size: 1.2rem;
		color: var(--text-color);
	}



	/* Navbar */
	.navbar {
		background-color: var(--bg-color);
		position: fixed;
		width: 100%;
		height: 90px;
		left: 0;
		justify-content: space-around;
		align-items: center;
	}

	.navbar .navbar-brand {
		display: flex;
	}

	.navbar .navbar-brand p {
		font-size: 1.7rem;
		color: var(--text-color);
	}

	.navbar .navbar-item {
		height: 200px;
		transition: 1.2s;
	}

	.navbar .navbar-item a {
		font-size: 1.4rem;
	}

	.navbar .navbar-item:nth-child(2) {
		flex-direction: column;
		align-items: flex-start;
		position: fixed;
		top: 90px;
		right: -60%;
		padding: 10px 0 100% 30px;
		background-color: var(--bg-color);
		opacity: 0.9;	
	}

	.navbar .navbar-sosmed {
		display: none;
	}

	.navbar .navbar-toggle {
		display: flex;
		justify-content: space-between;
		width: 70px;
		
	}

	.navbar-toggle .menu-toggle {
		display: flex;
		background-color: transparent;
		border: none;
		flex-direction: column;
		justify-content: space-between;
		height: 20px;
		cursor: pointer;
	}

	.navbar-toggle .menu-toggle span {
		display: block;
		width: 28px;
		height: 3px;
		background-color: var(--text-color);
		border-radius: 3px;
	}

	.navbar-toggle .menu-toggle span{
		transition: transform 1.0s, opacity 0.5s;
	}

	.navbar-toggle .menu-toggle span:nth-child(1) {
		transform-origin: 0 0;
	}

	.navbar-toggle .menu-toggle span:nth-child(3) {
		transform-origin: 0 100%;
	}

	.navbar-toggle .menu-toggle-animation span:nth-child(1) {
		transform: rotate(45deg) translate(-1px, -1px); 
	}

	.navbar-toggle .menu-toggle-animation span:nth-child(2) {
		opacity: 0;
	}

	.navbar-toggle .menu-toggle-animation span:nth-child(3) {
		transform: rotate(-45deg) translate(-1px, 0px); 
	}

	/* Session Parent */
	section h1 {
		font-family: Dongle, 'sans-serif';
		font-size: 2.2em;
		color: var(--text-color);
		padding-top: 70px;
	}

	section p {
		font-family: Dongle, 'sans-serif';
		font-size: 1.2em;
		color: var(--text-color);
	}

}

