@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
	--bg-color: #fdfdfd;
	--text-color:  rgba(0,0,0, 0.65);
	--bg-reverse: #222831;
	--text-reverse: #EEEEEE;
}

html[data-theme-mode = 'dark'] {
	--bg-color: #222831;
	--text-color:  #EEEEEE;
	--bg-reverse: #fdfdfd;
	--text-reverse: rgba(0,0,0, 0.65);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ---------- Desktop Version ------------ */
html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	padding: 0 10% 3% 10%;
	margin: 0;
	background-color: var(--bg-color);
	transition: all 1s;
	font-family: 'Dongle', 'sans-serif';
}

/* Header */

.header h1 {
	color: var(--text-color);
	font-size: 6rem;
	font-weight: 400;
	line-height: 0.6em;
	height: 3.6em;
	display: flex;
	align-items: flex-end;
	margin-bottom: 60px;
}

.header .mobile-sosmed {
	display: none;
}

/* Navbar */
.navbar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	z-index: 10;
	background-color:var(--bg-color);
	transition: all 1s;
}

.navbar .navbar-item {
	height: 70px;
	display: flex;
	align-items: center;
}

.navbar .navbar-item:nth-child(2) {
	justify-content: space-between;
	width: 50%;
}

.navbar .navbar-item:nth-child(3) {
	justify-content: flex-end;
	width: 30%;
}

.navbar .navbar-brand {
	display: none;
}

.navbar .navbar-item a {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.8rem;
	transition: opacity 0.8s, transform 0.5s;
}

.navbar .navbar-item a:hover {
	opacity: 0.5;
	transform: translateY(-8px);
}

.navbar .navbar-sosmed {
	display: flex;
	justify-content: space-between;
	width: 180px;
	padding-right: 30px;
}

.navbar .theme-toggle{
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 1.5s;
	margin-bottom: 10px;
}

.navbar-toggle .menu-toggle {
	display: none;
}


/* Session Parent */
section h1 {
	font-size: 4rem;
	color: var(--text-color);
	padding-top: 70px;
}

section p {
	font-family: "Noto Sans";
	font-size: 1.2rem;
	color: var(--text-color);
	margin-bottom: 15px;
}

/* About Session */
.about {
	margin-top: 200px;
	height: 100vh;
	z-index: 1;
}

.about .skill {
	margin-top: 20px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 90px);
	gap: 50px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
}

.about .skill img {
	width: 100%;
	display: flex;
	transition: all 0.5s;
	filter: grayscale(100%);
}

.about .skill img.sql {
	width: 150px;
}

.about .skill img.php {
	width: 120px;
}

.about .skill img:hover {
	filter: grayscale(0%);
	transform: translateY(-8px);
}



/* Blog Session */
.blog {
	margin-top: 100px;
	z-index: 1;
}

/* Contact Session */
.contact {
	margin-top: 100px;
	z-index: 1;
}

.contact .contact-form {
	display: grid;
	grid-template-areas: 
	'content wrapper';
	grid-template-columns: 55% auto;
}

.contact .contact-content {
	grid-area: content;
	font-family: 'Noto Sans';
}

.contact .contact-content {

}

.contact .contact-content .contact-identity  {
	border: solid 2px rgba(0, 0, 0, 0);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	width: 80%;
	color: var(--bg-reverse);
	transition: all 1s;
}

.contact .contact-content .contact-identity:hover  {
	background-color: var(--bg-reverse);
	color: var(--bg-color);
}

.contact .contact-content i{
	width: 35px;
	font-size: 1.8rem;
	margin-right: 10px;
}

.contact .contact-content label{
	font-size: 1.2rem;
}

.contact .contact-sosmed-wrapper {
	display: flex;
	margin-top: 100px;
}
.contact .contact-sosmed{
	display: flex;
	color: var(--bg-reverse);
	text-decoration: none;
	font-size: 2rem;
	width: 80px;
	height: 80px;
	margin: auto 15px;

}
.contact .contact-sosmed:hover{
	background-color: var(--bg-reverse);
	text-decoration: none;
	border-radius: 100%;
}

.contact .contact-sosmed a{
	display: flex;
	width: 100%;
	height: 100%;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	color: var(--bg-reverse);
	background-color: var(--bg-color);
	transition: border-radius 1.5s, color 1s, background-color 1s;
}
.contact .contact-sosmed a:hover{
	color: var(--bg-color);
	background-color: var(--bg-reverse);
	border-radius: 100%;
}


.contact .contact-item-wrapper {
	border: solid 3px var(--bg-reverse);
	grid-area: wrapper;
	background-color: var(--bg-reverse);
	padding: 40px;
	border-radius: 12px;
}
.contact-form .contact-item {
	flex-direction: column;
}

.contact-item label {
	display: flex;
	color: var(--bg-color);
	font-size: 2rem;
}

.contact-form input, .contact-form textarea{
	color: var(--text-color);
	font-family: 'Dongle', 'Sans-serif';
	border: var(--text-color) solid 1px;
	background-color: var(--bg-color);
	border-radius: 6px;
	width: 100%;
	height: 60px;
	font-size: 1.8rem;
	padding: 6px 20px;
	margin-bottom: 10px;
	transition: background-color 1s, box-shadow 0.35s;
}

.contact-form textarea {
	padding: 15px 20px;
	height: 200px;
	resize: none;
}

.contact-form input:focus, .contact-form textarea:focus{
	box-shadow: 0px 0px 0px 1px inset var(--text-color);
	outline: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder{
	font-family: 'Dongle', 'sans-serif';
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 1.8rem;
	transition: background-color 1s, font-size 0.35s, color 0.35s, transform 0.35s;
}

.contact-form .contact-submit button {
	font-family: 'Dongle', 'sans-serif;';
	font-size: 24px;
	padding: 10px 30px;
	border-radius: 8px;
	background-color: var(--bg-reverse);
	border: solid 2px var(--bg-color);
	color: var(--text-reverse);
	transition: all 0.9s;
	float: right;
}

.contact-form .contact-submit button:hover {
	background-color: var(--bg-color);
	color: var(--bg-reverse);
	opacity: .90;
}




/* ---------- Tablet Version ------------ */
@media only screen and (max-width: 768px) {
	html {
		font-size: 12px;
	}	

	.about .skill {
		margin-top: 40px;
		grid-template-columns: repeat(4, 50px);
		justify-content: space-evenly;
	}
}

/* ---------- Mobile Version ------------ */
@media only screen and (max-width: 576px) {
  	
	body {
		padding: 0 20px;
	}



	/* Header */
	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 80vh;
	}

	.header h1 {
		margin-bottom: 20px;
		text-align: center;
		font-size: 2.8rem;
	}

	.header .mobile-sosmed {
		display: flex;
		justify-content: space-between;
		width: 100px;
	}

	.header .mobile-sosmed a{
		text-decoration:  none;
		font-size: 1.8rem;
		color: var(--text-color);
	}



	/* Navbar */
	.navbar {
		background-color: var(--bg-color);
		position: fixed;
		width: 100%;
		height: 90px;
		left: 0;
		justify-content: space-around;
		align-items: center;
	}

	.navbar .navbar-brand {
		display: flex;
	}

	.navbar .navbar-brand p {
		font-size: 1.9rem;
		color: var(--text-color);
	}

	.navbar .navbar-item {
		height: 200px;
		transition: 1.2s;
	}

	.navbar .navbar-item a {
		font-size: 1.6rem;
	}

	.navbar .navbar-item:nth-child(2) {
		flex-direction: column;
		align-items: flex-start;
		position: fixed;
		top: 90px;
		right: -60%;
		padding: 10px 0 100% 30px;
		background-color: var(--bg-color);
		opacity: 0.9;	
	}

	.navbar .navbar-sosmed {
		display: none;
	}

		/* --- Menu Toggle */
	.navbar .navbar-toggle {
		display: flex;
		justify-content: space-between;
		width: 70px;
	}

	.navbar-toggle .menu-toggle {
		display: flex;
		background-color: transparent;
		border: none;
		flex-direction: column;
		justify-content: space-between;
		height: 20px;
		cursor: pointer;
	}

	.navbar-toggle .menu-toggle span {
		display: block;
		width: 28px;
		height: 3px;
		background-color: var(--text-color);
		border-radius: 3px;
	}

	.navbar-toggle .menu-toggle span{
		transition: transform 1.0s, opacity 0.5s;
	}

	.navbar-toggle .menu-toggle span:nth-child(1) {
		transform-origin: 0 0;
	}

	.navbar-toggle .menu-toggle span:nth-child(3) {
		transform-origin: 0 100%;
	}

	.navbar-toggle .menu-toggle-animation span:nth-child(1) {
		transform: rotate(45deg) translate(-1px, -1px); 
	}

	.navbar-toggle .menu-toggle-animation span:nth-child(2) {
		opacity: 0;
	}

	.navbar-toggle .menu-toggle-animation span:nth-child(3) {
		transform: rotate(-45deg) translate(-1px, 0px); 
	}

	/* Session Parent */
	section h1 {
		font-size: 2.4em;
		color: var(--text-color);
		padding-top: 90px;
	}

	section p {
		font-size: 1.4em;
		color: var(--text-color);
	}

	/* About Session */

	.about .skill {
		margin-top: 40px;
		grid-template-columns: repeat(2, 50px);
		justify-content: space-evenly;
	}

	.about .skill img.sql {
		width: 90px;
	}

	.about .skill img.php {
		width: 80px;
	}



	/* Blog Session */
	.blog {
		margin-top: 100px;
		z-index: 1;
	}

	/* Contact Session */
	#contact {
		margin-top: 100px;
		z-index: 1;
	}

}

