@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
	--bg-color: #fdfdfd;
	--text-color:  rgba(0,0,0, 0.65);
}

html[data-theme-mode = 'dark'] {
	--bg-color: #222831;
	--text-color:  #EEEEEE;
}

body {
	padding: 0 10%;
	margin: 0;
	background-color: var(--bg-color);
	transition: all 1s;
}

.header h1 {
	color: var(--text-color);
	font-family: Dongle, 'sans-serif';
	font-size: 6em;
	font-weight: 400;
	line-height: 0.6em;
	height: 3em;
	display: flex;
	align-items: flex-end;
}

.navbar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	z-index: 10;
	background-color:var(--bg-color);
	transition: all 1s;

}

.navbar .navbar-item {
	height: 70px;
	display: flex;
	align-items: center;


}

.navbar .navbar-item:nth-child(1) {
	justify-content: space-between;
	width: 50%;
}

.navbar .navbar-item:nth-child(2) {
	justify-content: space-evenly;
	width: 30%;
}

.navbar .navbar-item a {
	font-family: 'Dongle', 'sans-serif';
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.8em;
	transition: opacity 0.8s, transform 0.5s;
}

.navbar .navbar-item a:hover {
	opacity: 0.5;
	transform: translateY(-8px);
}

.navbar .navbar-item .navbar-toggle button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 1.5s;
}

.navbar .navbar-item .navbar-toggle button a{
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 1.5s;
}

#about {
 background-color: blue;
 margin-top: 100px;
 height: 100vh;
 z-index: 1;
}

#blog {
 background-color: red;
 margin-top: 100px;
 height: 100vh;
 z-index: 1;
}

#contact {
 background-color: green;
 margin-top: 100px;
 height: 100vh;
 z-index: 1;
}